body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.grid {
  --size: 60px;

  display: grid;
  gap: 8px;
  justify-content: center;
  border: 2px solid rgb(5, 39, 69);
  border-radius: 8px;
  padding: 8px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(5, 39, 69);
  border-radius: 6px;
  font-size: 30px;
  cursor: pointer;
  background-color: #eee;
  overflow: hidden;
  position: relative;
}

.card:disabled {
  color: #000;
}

.card--revealed {
  background: transparent;
  border-color: transparent;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: rgb(5, 39, 69);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button:hover {
  background-color: rgb(3, 28, 49);
}

